[submodule "external/ninjam"]
	path = external/ninjam
	url = https://github.com/justinfrankel/ninjam.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
